* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: '';
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Manrope", sans-serif;
}

h2 {
    color: #124559;
    font-family: Outfit;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.btn {
    text-decoration: none;
    color: #1B263B;
    font-weight: 400;
    border: 1px solid #415A77;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    width: fit-content;
}

.btn:hover {
    background-color: #415A77;
    opacity: 0.8;
    color: #fff;
    font-weight: 400;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

p {
    font-family: Manrope;
    color: #1B263B;
    line-height: 2rem;
}

.landing {
    width: 100%;
    height: 100vh;
    background-image: url('/resources/images/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

header {
    width: 90%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    justify-content: space-between;
}

.logo {
    margin-top: 1rem;
    img{
        height: 5rem;
        width: auto;
    }
}

.desktop ul {
    margin-top: 0.4rem;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;    
    justify-content: flex-end;
    gap: 5rem;
}

.desktop a {
    text-decoration: none;
    color: #415a77;
    font-weight: 500;
}

.desktop a:hover {
    color: #1b263b;
}

.mobile {
    display: none;
}

.hero {
    width: 22rem;
    height: 12.75rem;
    margin-top: 50vh;
    transform: translateY(-50%);
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.hero h1, .hero p {
    margin: 0rem;
}

.hero h1 {
    color: #124559;
    font-family: Outfit;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#hero-btn {
    position: relative;
    text-decoration: none;
    color: #415A77;
    font-weight: 400;
    margin-top: 1rem;
    width: fit-content;
    overflow: hidden;
    transition: color 0.3s ease;
    text-align: left;
    padding-bottom: 0.5rem;
}

#hero-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #1B263B;
    transition: width 0.3s ease, left 0.3s ease;
}

#hero-btn:hover {
    color: #1B263B;
}

#hero-btn:hover::after {
    width: 100%;
    left: 0;
}

section {
    width: 100%;
    max-width: 100%;
    height: 70vh;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    margin: 0 5rem;
    flex-wrap: wrap;
    gap: 20rem;;
}

.about .info, .about-logo {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.about .info {
    width: 50%;
    height: auto;
    flex-basis: 20rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #0D1B2A;
}

.about-logo {
    width: 50%;
    height: auto;
    padding-right: 5rem;
    img{
        width: 12rem;
        height: auto;
    }
}

.events {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    margin: 0 5rem;
    flex-wrap: wrap;
    gap: 10rem;
    margin-bottom: 10rem; 
}

.event-img {
    width: 30rem;
    height: 38rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.event-info {
    width: 8rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #0D1B2A;
}

.event-info ul {
    list-style: none;
    padding: 0;
    line-height: 3rem;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem; 
}

.projects-info {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}    

.projects .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: space-between;
    gap: 2rem;
    width: 100%;
    height: 27rem;
    img {
        width: 100%;
        height: 60%;
        object-fit: cover;
    }
}

.projects .btn {
    width: auto; 
    align-self: center;
    text-align: center;
    white-space: nowrap; 
    padding: 0.5rem 1rem; 
    margin-top: 5rem; 
}

.projects .btn:hover {
    opacity: 1;
}

.members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 6rem;
    margin: 0 5rem;
    flex-wrap: wrap;
    gap: 10rem;
}

.members-info {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #0D1B2A;
}

.members-img {
    width: 30rem;
    height: 38rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .about, .events, .members {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 0;
    }

    .about .info, .about-logo, .event-img, .event-info, .members-info, .members-img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .about .info {
        flex-basis: auto;
    }
}

.contact-us {
    width: 100%;
    margin-top: 10rem;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}


.contact-info {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 20rem;
}

.get-in-touch {
    width: 50%;
    padding-left: 19rem;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer; 
    gap: 0.5rem;
}

.email p, .email img {
    margin: 0;
}

.contact-img {
    width: 90%;
    height: 38rem;
    align-self: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.find-event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 1rem;
    padding-right: 19rem;
}

.search-form {
    width: 100%;
    display: flex;
    button {
        display: inline-block; 
        width: 27%;
        padding: 0.2rem 0.3rem;
        border-radius: 0 0.2rem 0.2rem 0;
        background-color: #1B263B;
        color: #fff;
        border: none;
        cursor: pointer; 
        text-align: center; 
        white-space: nowrap;
        box-sizing: border-box;
    }

    input {
        flex: 1;
        padding: 0.5rem;
        background-color: #124559;
        opacity: 0.12;
        box-shadow: none;
        border: none;
        border-radius: 0.2rem 0 0 0.2rem;
        width: 100%;
    }
}

.search-form input::placeholder {
    color: #1B263B;
    opacity: 1;
}


.search-form input, .search-form button{
    margin: 0;
}

.social-icons {
    margin-top: 1rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    cursor: pointer; 
}
