* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: '';
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Manrope", sans-serif;
}

h2 {
    color: #124559;
    font-family: Outfit;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.btn {
    text-decoration: none;
    color: #1B263B;
    font-weight: 400;
    border: 1px solid #415A77;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    width: fit-content;
}

.btn:hover {
    background-color: #415A77;
    opacity: 0.8;
    color: #fff;
    font-weight: 400;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

p {
    font-family: Manrope;
    color: #1B263B;
    line-height: 2rem;
    font-size: 1.04rem;
}

.landing {
    width: 100%;
    height: 100vh;
    background-image: url('/resources/images/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

header {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    justify-content: space-between;
}

.logo {
    margin-top: 2rem;
    padding-left: 1rem;
    img{
        height: 5rem;
        width: auto;
    }
}

.desktop ul {
    margin-top: 1rem;
    padding-right: 4rem;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;    
    justify-content: flex-end;
    gap: 5rem;
    font-size: 1.08rem;
}

.desktop a {
    text-decoration: none;
    color: #415a77;
    font-weight: 500;
}

.desktop a:hover {
    color: #1b263b;
}

.mobile {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.mobile a {
    text-decoration: none;
    color: #415A77;
    font-weight: 500;
    display: block;
    padding: 1rem 0;
}

.mobile a:hover {
    color: #1B263B;
}

/* Hamburger Menu */
.hamburger {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    gap: 0.4rem;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: #415A77;
    transition: all 0.3s ease;
}

/* Mobile Menu Active State */
.mobile.active {
    display: flex; /* Show the mobile menu when active */
}

.hero {
    width: 22rem;
    height: 12.75rem;
    margin-top: 50vh;
    transform: translateY(-50%);
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.hero h1, .hero p {
    margin: 0rem;
}

.hero h1 {
    color: #124559;
    font-family: Outfit;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#hero-btn {
    position: relative;
    text-decoration: none;
    color: #415A77;
    font-weight: 400;
    margin-top: 1rem;
    margin-left: 0.05rem;
    width: fit-content;
    overflow: hidden;
    transition: color 0.3s ease;
    text-align: left;
    padding-bottom: 0.5rem;
}

#hero-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #1B263B;
    transition: width 0.3s ease, left 0.3s ease;
}

#hero-btn:hover {
    color: #1B263B;
}

#hero-btn:hover::after {
    width: 100%;
    left: 0;
}

section {
    width: 100%;
    max-width: 100%;
}

.about {
    height: 70vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "info img";
    justify-content: center;
    align-items: center;
    place-items: center;
    max-width: 100rem; 
    margin: 0 auto;
    padding: 0 6rem; 
    gap: 14rem; 
}

.about .info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #0D1B2A;
    max-width: 45rem; 
}

.about-logo {
    grid-area: img;
}

.about-logo img {
    width: 14rem;
    height: auto;
    transition: width 0.3s ease-in-out; 
}

.events {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "img info";
    align-items: center;
    place-items: center;
    max-width: 100rem; 
    margin: 0 auto;
    padding: 0 6rem; 
    height: 100vh;
    margin-bottom: 10%;
    gap: 10rem;
}

.event-img {
    grid-area: img;
    width: 30rem;
    height: 38rem;
    justify-self: flex-start;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.event-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    color: #0D1B2A;
    padding: 8.3rem;
}

.event-info ul {
    list-style: none;
    padding: 0;
    line-height: 3rem;
}

.projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.projects-info {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}    

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;    
    position: relative;
}

.project-item {
    position: relative;
    overflow: hidden;
    height: 27rem;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.3s ease;
    }
}

.project-item:hover img {
    opacity: 0.5;
}

.project-item::before {
    content: '';
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    color: #124559;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.project1::before {
    content: 'Unique outdoor space design';
}

.project2::before {
    content: 'Minimalist architectural design';
}

.project3::before {
    content: 'Clean modern living room design';
}

.project-item:hover::before {
    opacity: 1; 
    z-index: 5;
}

.projects .btn {
    width: auto; 
    align-self: center;
    text-align: center;
    white-space: nowrap; 
    padding: 0.5rem 1rem; 
    margin-top: 3rem; 
}

.projects .btn:hover {
    opacity: 1;
}

.members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "info img";
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    margin: 0 5rem;
    flex-wrap: wrap;
    gap: 2rem;
    height: 70vh;
    margin-bottom: 10rem;
}

.members-info {
    grid-area: info;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #0D1B2A;
}

.members-img {
    grid-area: img;
    width: 30rem;
    height: 38rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.contact-us {
    width: 100%;
    height: 100vh;
    margin-top: 10rem;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    margin: 0 auto;
}

.contact-info {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 20rem;
    margin: 0 auto;
    padding: 2rem 6rem;
}

.get-in-touch {
    width: 50%;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer; 
    gap: 0.5rem;
}

.email p, .email img {
    margin: 0;
}

.contact-img {
    width: 90%;
    height: 38rem;
    margin: 0 auto;
    align-self: center;
    margin-top: 2rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.find-event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.search-form {
    width: 100%;
    display: flex;
    button {
        display: inline-block; 
        width: 27%;
        padding: 0.2rem 0.3rem;
        border-radius: 0 0.2rem 0.2rem 0;
        background-color: #1B263B;
        color: #fff;
        border: none;
        cursor: pointer; 
        text-align: center; 
        white-space: nowrap;
        box-sizing: border-box;
    }

    input {
        flex: 1;
        padding: 0.5rem;
        background-color: #124559;
        opacity: 0.12;
        box-shadow: none;
        border: none;
        border-radius: 0.2rem 0 0 0.2rem;
        width: 100%;
    }
}

.search-form input::placeholder {
    color: #1B263B;
    opacity: 1;
}


.search-form input, .search-form button{
    margin: 0;
}

.social-icons {
    margin-top: 1rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    cursor: pointer; 
}

footer {
    width: 100%;
    padding-left: 5rem;
    margin-top: 1rem;
    align-items: center;
    text-align: center;
}

@media (max-width: 1200px) {
    .about-logo img {
        width: 12rem; 
    }
    .event-info {
        padding: 0;
    }
} 

@media (max-width: 900px) {
    .about .info {
        max-width: 40rem;
    }

    .about-logo img {
        width: 10rem; 
    }
    
    .event-img {
        width: 25rem; 
    }
}


@media (max-width: 768px) {
    .about, .events, .members {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .about {
        width: 100%;
        padding: 4rem 2rem;
        display: flex;
        justify-items: center;
    }

    .about .info {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .about-logo img {
        display: none;
    }
    .desktop {
        display: none; /* Hide desktop navigation */
    }

    .hamburger {
        display: flex; /* Show hamburger menu */
    }
}